* {
    font-family: Georgia, serif;
  }
  
  #main-doc {
    display: flex;
    flex-direction: row;
  }

  #navbar {
    margin-top: 0;
    border-right: 1px solid black;
  }
  
  .nav-button {
    width: 40px;
    margin: auto;
    margin-bottom: 10px;
  }

  #navBarContentsContainer {
    position: sticky;
    top: 0;
    padding-top: 10px;
    max-height: 100vh;
    overflow-y: scroll;
  }

  .navbarOpen {
    width: 25%;
    min-width: 175px;
    margin-right: 10px;
  }

  .navbarClosed {
    width: 15%;
  }

  .navbarContentsClosed {
    position: absolute;
    width: 0;
    height: 0;
    top: -150px;
    left: -150px;
  }
  
  #main-content {
    width: 70%;
    padding: 10px;
  }
  
  header {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Cabin', sans-serif;
  }
  
  #navbar ul {
    list-style-type: none;
    margin-left: -30px;
  }
  
  li {
    margin: 5 auto;
  }
  
  #navbar li {
    margin: 20 auto;
    border-bottom: 1px solid black;
    padding: 5px;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  #navbar li:hover {
    background-color: lightgray;
  }

  .expandableOpen {
    position: relative;
    width: auto;
    height: auto;
    padding: 5px;
    border: 1px solid black;
    overflow-y: auto;
    max-height: 50vh;
  }

  .expandableOpen ul {
    list-style-type: circle;
  }

  .expandableOpen h2 {
    font-size: 1.1rem;
    font-family: 'Cabin', sans-serif;
  }

  .expandableClosed {
    position: absolute;
    width: 0;
    height: 0;
    top: -300px;
    left: -300px;
  }

  .textSection:hover {
    background-color: lightgray;
  }

  .closeButton {
    position: absolute;
    right: 10px;
  }